.body {
    background-color: #FDD202;
    background-size: cover; 
    font-family: 'indosat';
}

.header {
    background-color: #FFFCF5;
}

.img-logo {
    width: 175px;
    height: auto;
    margin-right: 25px;
}

.kiri {
    display:table-cell; /*bikin gambar jadi sejajar sama Halo Admin*/
}

h3 {
    font-size: 30px;
}

.kanan {
    display:table-cell; /*bikin gambar jadi sejajar sama Halo Admin*/
}

.btn {
    font-size: 30px;
    margin-top: 10%;
}

.add {
    background-color: #80FD02;
    border-radius: 4px;
    border-color: inherit; /*warna border*/
    
    width: 10%;
    height: 40px;
    margin-top: 2%;
    margin-left: 5%;
}

.daftar_kolom {
    width: 10%;
    height: 40px;
    margin-top: 2%;
    margin-left: 5%;

    font-size: 20px;
}


