body {
    margin:0;
    padding:0;
    height:100%;
    font-family: "Titillium Web", sans-serif;
 } 
 .gambar-jumbotron{
    width: 100%;
    min-height: 200px;
 }

.container-fluid{
    background-color: rgba(245, 222, 179, 0.678);
}
.navbar-brand{
    margin-left: 2%;
}

.nav-item {
    font-family: "Titillium Web", sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: .1em;
    outline: 0;
    border: 0;
    border-radius:5px;
    /* margin: 0px 0px 5px; */
    margin: 5px;
    border: 2px;
    padding: 5px;
    color:black;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    transition: all 0.2s;
}
.nav-item:hover,.form button:focus {
    background: #dbb313;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    color: #ffff;
    transform: translateY(-4px);
    z-index: 1;
    font-family: "Titillium Web", sans-serif;
}
.nav-link{
    border:none;
    background-color: transparent;
    margin: -10px;
    padding: 16px;
    font-family: "Titillium Web", sans-serif;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: .1em;
    outline: 0;
    border: 0;
    border-radius:5px;
    border: 2px;
    color:black;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    transition: all 0.2s;
    
}
.nav-link:hover,.form button:focus {
    color: #ffff;
    transform: translateY(-4px);
    background-color: #ffd400;
}
.search{
    display: flex;
}

.btn{
    border:none;
    background-color: #ed1c24;
    padding: 10px;
    margin-left: 15px;
    font-family: "Titillium Web", sans-serif;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: .1em;
    outline: 0;
    border: 0;
    border-radius:5px;
    border: 2px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    transition: all 0.2s;
    color: #ffff;
    display: flex;
 }
.btn:hover,.form button:focus{
    color:black;
    transform: translateY(-4px);
    background-color: #ffd400;
 }

.btn-1{
    border:none;
    background-color: #F2AA7E;
    padding: 10px;
    margin-left: 15px;
    font-family: "Titillium Web", sans-serif;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: .1em;
    outline: 0;
    border: 0;
    border-radius:5px;
    border: 2px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    transition: all 0.2s;
    color: #ffff;
    display: flex;
    margin: auto;
 }
.btn-1:hover,.form button:focus{
    color:black;
    transform: translateY(-4px);
    background-color: #ffd400;
 }

.footer{
    background-color: #ffd400;
    text-align: center;
    font-size: 10px;
    margin-bottom: 0px;
    font-family: 'Baloo Tammudu 2', cursive;
    padding: 10px;
   width:100%;
 }
.form-inline{
    display: flex;
}
h3{
    text-align: center;
    margin-top: 2%;
    font-family: 'Baloo Tammudu 2', cursive;
}

.search-1{
    font-family: "Titillium Web", sans-serif;
    font-size: 15px;
    border-radius: 5px;
    border-color: none;
    padding: 5px;
    outline: 0;
    border-style: none;
}
