.gambar-jumbotron{
   width: 100%;
   min-height: 200px;
}
.container-fluid{
    background-color: rgba(245, 222, 179, 0.678);
}
.navbar-brand{
    margin-left: 2%;
}
.nav-item {
    font-family: "Titillium Web", sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: .1em;
    outline: 0;
    border: 0;
    border-radius:5px;
    /* margin: 0px 0px 5px; */
    margin: 5px;
    border: 2px;
    padding: 5px;
    color:black;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    transition: all 0.2s;
}
.nav-item:hover,.form button:focus {
    background: #dbb313;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    color: #ffff;
    transform: translateY(-4px);
    z-index: 1;
    font-family: "Titillium Web", sans-serif;
}
h3{
    text-align: center;
    margin-top: 2%;
}
.row{
    background-color:transparent;
}
.table{
    width: 100%;
    margin-top: -30px;
}
.download{
    height: 15px;
    margin: 8px;
}
.h6{
    margin-right: 0px;
    margin-bottom: -70px;
    font-size: 5px;
}
.footer{
    background-color: #ffd400;
    text-align: center;
    font-size: 10px;
    margin-top: 50px;
    margin-bottom: 0px;
    font-family: 'Baloo Tammudu 2', cursive;
    padding: 10px;
}

 .nav-link{
    border:none;
    background-color: transparent;
    margin: -10px;
    padding: 16px;
    font-family: "Titillium Web", sans-serif;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: .1em;
    outline: 0;
    border: 0;
    border-radius:5px;
    border: 2px;
    color:black;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    transition: all 0.2s;
    
}
.nav-link:hover,.form button:focus {
    color: #ffff;
    transform: translateY(-4px);
    background-color: #ffd400;
} 
.col-md-2{
background-color: #ffd5003b;
margin-top: 5%;
border-radius: 10px;
text-align: center;
}
h3{
    font-family: 'Baloo Tammudu 2', cursive;
    text-align: center;
    font-weight: bold;
}
h6{
    margin-bottom: 5px;
}
.search{ 
   display: flex;
}
.form-inline{
    display: flex;
}
.btn{
    border:none;
    background-color: #ed1c24;
    margin: -10px;
    padding: 16px;
    font-family: "Titillium Web", sans-serif;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: .1em;
    outline: 0;
    border: 0;
    border-radius:5px;
    border: 2px;
    color:black;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    transition: all 0.2s;
}

.btn:hover,.form button:focus {
    color: #ffff;
    transform: translateY(-4px);
    background-color: #ffd400;
} 

/* hr{
    width: 120px;
    margin: -20px;
} */

/* .navbar-brand{
    margin-top: 15%;
    width: 100%;
    position: absolute;
}

/* .body{
    background-image: url("Group154.png");
    height: 100%;
}
.bagian-kiri{
    background-color: #ffd400;
    height: 100%;
    width: 10%;
    position: fixed;
}
.gambarindosat{
    height: 10%;
    margin: 1.5% 1%;
    position: fixed;
}

.btn {
    font-family: "Titillium Web", sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: .1em;
    outline: 0;
    background: #ebe1b2;
    border: 0;
    border-radius:5px;
    border: 2px;
    padding: 10px;
    color: #ed1c24;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    transition: all 0.2s;
    margin-top: 75%;
    margin-left: 7px;
    
    height: 25px;
}
.btn:hover,.form button:focus {
    background: #ed1c24;
     box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     color: #ffff;
    transform: translateY(-4px);
}
.form button:active {
    transform: translateY(2px);
    box-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.2);
}
.forgot{
    text-align: center;
}
.gambar-navbar{
    width: 90%;
    height: 200%;
    float: right;
}
h3{
    margin-left: 10%;
}
.form-inline{
    width: 10%;
    float: right;
    margin-right: 80px;
}
.Data-outlet{
    margin: auto;
}
.download{
   width: 20px;
}
.download-file{
margin-left: 85%;
}
.image{
    margin-left: 20%;
    position: relative;
} */ 